# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="databaseurl"
JWT_SECRET = "your jwt secret"
DEFAULT_ADMIN_EMAIL = "your defautl admin email"
DEFAULT_ADMIN_PASSWORD = "your default admin password"
DEFAULT_ADMIN_NAME = "default Admin name"
AWS_S3_ACCESS_KEY = "s3 access key"
AWS_S3_SECRET_KEY = "s3 secret key"

