@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}
*::-webkit-scrollbar {
  display: none;
}

.digonals-lines {
  background-color: #ffffff;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #dbdcf1 0,
    #dbdcf1 1px,
    #ffffff 0,
    #ffffff 50%
  );
}
.textured-bg {
  background-color: #ffffff;
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      #ffffff 20%,
      #ffffff 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #ffffff 20%,
        #ffffff 80%,
        transparent 80%,
        transparent
      )
      25px 25px,
    linear-gradient(#e5e6f1 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, #e5e6f1 2px, #ffffff 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}
